.app {
  // background: url('/assets/images/landing.jpeg') no-repeat center center fixed;
  // background-size: cover;
  // overflow: hidden;
  // height: 100vh;
  // width: 100%;
  padding: 20px;

  &__body {
    display: flex;
    justify-content: space-between;
  }
}
